*{
  font-family: 'Varela Round', sans-serif;
}

header{
  height: 50px;
  background-color: #E4E4E4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #636363;
  font-size: large;
}

footer{
  height: 25px;
  background-color: #E4E4E4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #636363;
  font-size: small;
}

#calendar{
  background-color: #4AD3A2;
}

#event{
  background-color: #66DBB1;
}

#evenement{
  color: #F2F2F2;
  padding-top: 2%;
  margin: 0;
  text-align: center;
}

#todolist{
  padding: 1%;
  display: flex;
  justify-content: center;
}


#change{
  padding-top: 3%;
  display: flex;
  justify-content: center;
}
#previous{
  display : inline-block;
  height : 0;
  width : 0;
  border-top : 10px solid transparent;
  border-right : 17px solid #E4E4E4;
  border-bottom : 10px solid transparent;
  cursor: pointer;
}

#month{
  margin: 0;
  padding: 0;
  font-size: large;
  margin-right: 55px;
  margin-left: 55px;
  color: #E4E4E4;
}

#next{
  display : inline-block;
  height : 0;
  width : 0;
  border-top : 10px solid transparent;
  border-bottom : 10px solid transparent;
  border-left : 17px solid #E4E4E4;
  cursor: pointer;
}

input{
  border: 0;
  border-radius: 7px;
  background-color: #E4E4E4;
  margin-right: 8px;
}

#add{
  border: 0;
  border-radius: 7px;
  font-size: 10px;
  color: #E4E4E4;
  background-color: #0DB679;
}#add:hover{
  background-color: #2aaa7b;
}

#days{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 90px 90px; 
    grid-template-areas: 
      ". . . . . . ."
      ". . . . . . ."
      ". . . . . . ."
      ". . . . . . ."
      ". . . . . . .";
      padding: 5%;
}

.day{
  background-color: #8CFFD6;
  color: #636363;
  border: 0;
  border-radius: 7px;
  font-weight: bold;
}.day:hover{
  background-color: #66DBB1;
  cursor: pointer;
}